{{#md-navbar name='Embertime'}}
  {{#active-link}}
    {{#link-to 'people'}}People{{/link-to}}
  {{/active-link}}

  {{#active-link}}
    {{#link-to 'departments'}}Departments{{/link-to}}
  {{/active-link}}
{{/md-navbar}}

<div class="application-content">
  {{liquid-outlet}}
</div>

{{md-modal-container}}

<div style="visibility: hidden">
  {{g-map lat=37.7833 lng=-90 zoom=4}}
</div>
